<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendance">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AddSubjectstoTeacherActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ViewAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TakeAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddSubjectsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewAllFacultyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TeacherLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TeacherHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewTeacherSubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddSubjectstoStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewStudentSubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AdminLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddFacultyActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewAllStudentsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>